

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background antialiased text-base text-secondary-500;
  }
}


/* SEARCH */
@layer base {
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  input[type='search']:focus {
    border-color: hsl(60, 100%, 95%) !important;
    --tw-ring-color: hsl(60, 100%, 95%) !important;
    --tw-ring-offset-width: 0.5px !important;
    --tw-ring-offset-color: hsl(60, 100%, 95%) !important;
  }
}

@layer utilities {
  /* We want a blur effect without having a high opacity background, but we still want the
  background to be visible for the browsers that don't support backdrop-filter, so we double the
  background opacity. This can be tested on Firefox. */
  .bg-blur {
    @apply bg-opacity-40;
  }

  @supports (backdrop-filter: blur(4px)) {
    .bg-blur {
      @apply bg-opacity-20;
      backdrop-filter: blur(4px);
    }
  }
}

.dropdown-menu-content {
  width: var(--radix-dropdown-menu-trigger-width) 
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* zoom control ropenlayers */
.ol-zoom {
  display: flex;
  flex-direction: column !important;
  position: absolute !important;
  left: 553px !important;
  width: 34px !important;
  height: 68px !important;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--radius) - 4px) !important;
  background-color: hsl(210, 54%, 9%) !important;
  top: unset !important;
  bottom: 90px !important;
} 

.ol-zoom-in, .ol-zoom-out {
  color: hsl(60, 100%, 95%) !important;
  background-color: hsl(210, 54%, 9%) !important;
  font-size: 24px !important;
  outline-offset: 0px !important;
} 

.ol-zoom-in:hover, .ol-zoom-out:hover {
  background-color: hsl(60, 100%, 95%) !important;
  color: hsl(210, 54%, 9%) !important;
}

.ol-zoom-out {
  font-size: 22px !important;
  padding-top: 4px !important;
  padding-bottom: 8px !important;
}

